<template>
	<div>
		<v-navigation-drawer
		  v-model="sideNav"
		  absolute
		  temporary
		>
		  <v-list>
		    <v-list-tile
		      v-for="item in menuItems"
		      :key="item.title"
		      :to="item.link"
		    >
		      <v-list-tile-action>
		        <v-icon>{{ item.icon }}</v-icon>
		      </v-list-tile-action>

		      <v-list-tile-content>{{ item.title }}</v-list-tile-content>
		    </v-list-tile>
		  </v-list>
		</v-navigation-drawer>

		<v-toolbar
		  dark
		  class="primary"
		>
		  <v-toolbar-side-icon
		    @click="sideNav = !sideNav"
		    class="hidden-md-and-up"
		  ></v-toolbar-side-icon>

		  <v-toolbar-title>
		  	<nuxt-link class="nuxt-link" to="/">Meetups</nuxt-link>		  	
		  </v-toolbar-title>

		  <v-spacer></v-spacer>

		  <v-toolbar-items class="hidden-sm-and-down">
		    <v-btn
		      flat
		      v-for="item in menuItems"
		      :key="item.title"
		      :to="item.link"
		    >
		      <v-icon dark left>{{ item.icon }}</v-icon>
		      {{ item.title }}
		    </v-btn>
		  </v-toolbar-items>
		</v-toolbar>
	</div>
</template>

<script>
export default {
	data() {
	  return {
	    sideNav: false,
	    menuItems: [
	      { icon: 'supervisor_account', title: 'View Meetups', link: '/meetups' },
	      { icon: 'room', title: 'Organize Meetup', link: '/meetups/create' },
	      { icon: 'person', title: 'Profile', link: '/profile' },
	      { icon: 'face', title: 'Sign Up', link: '/signup' },
	      { icon: 'lock_open', title: 'Sign In', link: '/signin' }
	    ]
	  }
	}
}	
</script>

<style>
.nuxt-link {
	color: white;
	text-decoration: none;
}
</style>
