<template>
  <v-container grid-list-md text-xs-center>
  	<v-layout row wrap>
  		<v-flex xs12 sm6 class="text-xs-center text-sm-right">
  			<v-btn large router to="/meetups" class="info">Explore Meetups</v-btn>
  		</v-flex>
  		<v-flex xs12 sm6 class="text-xs-center text-sm-left">
  			<v-btn large router to="/meetups/create" class="info">Organize Meetup</v-btn>
  		</v-flex>
  	</v-layout>

  	<v-layout row wrap class="mt-2">
  		<v-flex xs12>
	  		<v-carousel style="cursor: pointer;">
	  			<v-carousel-item
	  				v-for="meetup in meetups"
            :src="meetup.imageUrl"
	  				:key="meetup.id"
            @click="onLoadMeetup(meetup.id)"
	  			>
            <div class="title">
              {{ meetup.title }}
            </div>    
          </v-carousel-item>
	  		</v-carousel>
	  	</v-flex>
  	</v-layout>

    <v-layout row wrap class="mt-2">
      <v-flex xs12 class="text-xs-center">
        <p>Join our awesome meetups!</p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      meetups: [
        {
          imageUrl: 'https://images.musement.com/cover/0002/49/thumb_148242_cover_header.jpeg?w=1200&h=630&q=60&fit=crop',
          id: 'sasdafasfasda321',
          title: 'Meetup in New York'
        },
        {
          imageUrl: 'https://odis.homeaway.com/odis/destination/813dfd25-7a08-4eef-a489-58bcb071f03d.hw1.jpg',
          id: 'sasdafasfasda123',
          title: 'Meetup in Paris'
        },
      ]
    }
  },

  methods: {
    onLoadMeetup(id) {
      this.$router.push('/meetups/' + id);
    }
  }
}
</script>

<style scoped>
.title {
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 2em;
  padding: 15px;
}
</style>
