<template>
  <v-container>
  	<v-layout row wrap>
  		<v-flex xs12>
  			<v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline primary--text">My Meetup</div>
            </div>
          </v-card-title>

          <v-img
            height="400px"
            src="https://images.musement.com/cover/0002/49/thumb_148242_cover_header.jpeg?w=1200&h=630&q=60&fit=crop"
          ></v-img>

          <v-card-text class="primary--text">
            <div>
              <div>Where it takes place</div>
              <div>17th July 2017</div>
            </div>
          </v-card-text>

          <v-card-text>
            <div>
              <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="secondary">Register</v-btn>
          </v-card-actions>
  			</v-card>
  		</v-flex>
  	</v-layout>
  </v-container>
</template>

<script>
export default {

}
</script>

<style>
	
</style>
