<template>
  <v-container>
  	<v-layout row wrap>
  		<v-flex xs12 sm10 md8 offset-sm1 offset-md2>
  			<v-card class="info">
  				<v-container fluid>
            <v-layout row>
              <v-flex xs5 sm4 md3>
                <v-img
                  height="130px"
                  src="https://images.musement.com/cover/0002/49/thumb_148242_cover_header.jpeg?w=1200&h=630&q=60&fit=crop"
                ></v-img>
              </v-flex>

              <v-flex xs7 sm8 md9>
                <v-card-title class="pt-0" primary-title>
                  <div>
                    <div class="headline white--text">My Meetup</div>
                    <div>Foster the People</div>
                    <div>17th July 2017</div>
                  </div>
                </v-card-title>

                <v-card-actions class="pb-0 pl-3">
                  <v-btn class="white" flat to="/meetups/1">
                    <v-icon left light>arrow_forward</v-icon>
                    View Meetup
                  </v-btn>
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-container>
  			</v-card>
  		</v-flex>
  	</v-layout>
  </v-container>
</template>

<script>
export default {

}
</script>

<style>
	
</style>
