<template>
  <v-app>
    <nav-bar/>

    <v-content>
      <nuxt />
    </v-content>
  </v-app>
</template>

<script>
import NavBar from '~/layouts/partials/Nav.vue'

export default {
  components: {
    NavBar
  }
}
</script>
